.checkmark{
    width: 5rem;
}
.first-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.transaction :nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.transaction :nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}