* {
  font-family: 'Poppins', sans-serif;
}

.h-wrapper {
  background-color: #131110;
  color: #fff;
  position: relative;
  z-index: 1;
  
}

.h-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-right: 1.7rem;
}

.h-menu {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.h-menu a {
  color: #fff;
  text-decoration: none; /* Fixed the text-decoration property */
  margin: 0 10px;
  padding: 0 4px;
  transition: color 0.3s ease, transform 0.3s ease;
  display: inline-block;
}

.h-menu a:hover {
  color: #ffa600f3;
  transform: scale(1.08);
}

button {
  background: none;
  color: #ffffff;
  padding: 8px 12px;
  font-size: medium;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

button:hover {
  transform: scale(1.08);
  color: #ffa600f3;
}
.dropdown {
  position: relative;
  display: inline-block;
}

/* Styling for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5rem;
  
  transition: opacity 0.3s ease-in-out;
}

/* Styling for the dropdown links */
.dropdown-content a {
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  color: #333;
}

/* Change link color on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

