.contact-container {
    display: flex;
    
  }
  
  .contact-form {
    margin-top: 20px;
    width: 45%;
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 500px;
    margin-left: 50px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 75%;
    padding: 10px;
    border: 1px;
    border-radius: 5px;
    border-color: black;
    border-style: double;
  }

  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .contact-info {
    width: 60%;
    background-color: rgb(241, 158, 241);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .contact-info h2 {
    margin-bottom: 20px;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 250px;
  }
  
  .info-item i {
    margin-right: 10px;
  }
  
  .ourlocationtitle{
  margin-top: 30px;
  }

  .far fa-envelope{
    color: rgb(32, 207, 32);
  }

  .contact-title{
    text-align: center;
  }

